*{
    margin:0; 
    padding:0;
}

body{
    background-color:beige;
}

#main_container{
    padding-top:40px;
   width:600px;
   margin-top:20px;
   margin-right:auto;
   margin-left:auto;
   background-color:#ffffff;
   overflow:hidden;
   }

.border {
    border:10px solid #666666;
    border-radius: 15px;
    width:100px;
    height:100px;
}

h2{
    font-size: 80px;
    font-family: verdana;
    text-transform:uppercase;
    text-align: center;
    color:#666666;
}

#a{
    margin-left:210px;
    float:left;
    margin-bottom:2px;
}

#b{
    margin-left:150px;
    clear:left;
    float:left;
    margin-bottom:2px;
}

#c{
    margin-left:2px;
    float:left;
    margin-bottom:2px;
}

#d{
    margin-left:90px;
    clear:left;
    float:left;
}

#e{
    margin-left:2px;
    float:left;
}

#f{
    margin-left:2px;
    float:left;
}

.blue{
    color:#00FFFF;
    border-color:#00FFFF;
}
.purple{
    color:#7F00FF;
    border-color:#7F00FF;
}
.black{
    color:#000000;
    border-color:#000000;
}
