html{
    background-image:url("../images/background.jpg");
    background-size:25%;
    color:white;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:linear-gradient(to right, #333333, #666666);
  }
nav ul li {
    float: left;
  }
nav ul li .active {
    background-color: purple;
  }
nav ul li a {
    display: block;
    text-align: center;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
  }
footer{
    background-image:linear-gradient(to right, #333333, #666666);
    position:fixed;
    bottom:0;
    width:100%;
    font-size:1em;
    text-align:center;
    margin:0;
    padding:0;
    color:white;
  }
#outerwrapper{
    background-color:#333333;
    border:#666666;
    border-radius:15%;
    width:70%;
    justify-content:center;
    margin:0 auto;
    text-align:center;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }