@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+20&family=Lugrasimo&display=swap');
@font-face {
  font-family: 'Edo';
  src: url('../fonts/Edo/edo-webfont.woff2') format('woff2'),
       url('../fonts/Edo/edo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html{
  background-color:black;
  background-image:url(../images/background.png);
  background-size:1920px;
  background-repeat:no-repeat;
}
#outerwrapper{
  color:white;
  border-radius:15%;
	width:70%;
  justify-content:center;
	margin:0 auto;
  text-align:center;
}
nav ul {
  font-family:"Lugrasimo";
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav ul li {
  float: left;
}
nav ul li .active {
  background-color: purple;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: purple;
}
nav ul li a:visited {
  font-family:"Lugrasimo";
  color: blue;
}
nav ul li a:active {
  background-color: blue;
}
footer{
  font-family:"Lugrasimo";
  clear:both;
  display:block;
  position:fixed;
  bottom:0;
  width:100%;
	font-size:1em;
	text-align:center;
	padding-bottom:10px;
}
legend{
  color:white;
}
label{
  color:white;
}
p{
  font-family:'Edo', sans-serif;
  color:white;
  width: 70%;
  margin: auto;
  font-size:larger;
}
table{
  border:1px solid white;
}
img.about{
  width:25%;
  display:block;
  margin:auto;
}
.ECS{
  mix-blend-mode:screen;
}
div {
  margin: 10px;
}

label {
  margin-right: 15px;
  width: 150px;
  display: inline-block;
}